<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Manager</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/manager.css">
    <link rel="stylesheet" href="../styles/style.css">

    
</head>
<body>
    <div id="app">

      <header>        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand ml-3" href="#">
                <img src="../images/logoBMW2.png" alt="Logo" id="logo">
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./infoAdmin.html">Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./mail.html">Mail</a>
                </li>
<!--                 <li class="nav-item">
                    <a class="nav-link" href="./deleteAdmin.html">Delete</a>
                </li> -->
            </ul>
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="#Logout">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="d-flex justify-content-evenly mt-5 flex-wrap gap-2">
          <!-- FORM PARA AGREGAR AUTOS -->
            <div class="card mb-3  col-md-8 col-lg-4 shadow">
              <div class="row g-0 d-flex align-items-center shadow">
                <div>
                  <div class="card-body py-5 px-md-5 shadow" >
                    <form @submit.prevent="addCar">
                      <h1 class="d-flex justify-content-center">Add a new car</h1>
                      
                      <!-- MODEL -->
                     <!--  {{model}} -->
                      <div class="form-outline mb-4 mt-3">
                        <input v-model="model" type="text" id="model" name="model" class="form-control shadow" placeholder="Model" />
                      </div>
                      <!-- YEAR -->
                     <!--  {{date}} -->
                      <div class="form-outline mb-4 mt-3">
                        <input v-model="date" type="text" id="date" class="form-control shadow" placeholder="DATE: YYYY-MM-DD" />
                      </div>
                      <!-- CAR COLOR -->
                      <div class="form-outline mb-4 mt-3 d-flex flex-column gap-2">
                        <!-- {{color}} -->
                        <label for="color" class="fw-bold">Color:</label>
                        <div class="d-flex gap-2" v-for="color in allColors" :key="color">
                          <label :for="color">{{ color }}</label>
                          <input type="radio" name="color" :id="color" :value="color" @change="updateCarColorArray($event, color)">
                        </div>
                      <!-- PRICE -->
                     <!--  {{price}} -->
                      <div class="form-outline mb-4 mt-3">
                        <label for="price" class="fw-bold ms- mb-2">Price:</label>
                        <input v-model="price" type="number" id="price" class="form-control shadow" placeholder="Price" />
                      </div>
                      <!-- PAYMENTS -->
                      <!-- {{payments}} -->
                      <div class="form-outline mb-4 mt-3">
                        <input v-model="paymentsInput" type="text" id="payments" class="form-control shadow" placeholder="Payments" @change="convertToNumbers"/>
                      </div>
                      <!-- STOCK -->
                      <!-- {{stock}} -->
                      <div class="form-outline mb-4 mt-3">
                        <label for="price" class="fw-bold ms- mb-2">Stock:</label>
                        <input v-model="stock" type="number" id="stock" class="form-control shadow" placeholder="Stock" />
                      </div>
                      <!-- IMAGES -->
                     <!--  {{images}} -->
                      <div class="form-outline d-flex flex-column mb-4 mt-3 gap-2">
                        <input type="text" v-model="images[0]" class="form-control shadow" placeholder="Image 1">
                        <input type="text" v-model="images[1]" class="form-control shadow" placeholder="Image 2">
                        <input type="text" v-model="images[2]" class="form-control shadow" placeholder="Image 3">
                      </div>
                      <!-- CARMOD -->
                      <!-- {{carMod}}  -->
                      <div class="form-outline mb-4 mt-3 d-flex flex-column gap-2">
                        <label for="carMods" class="fw-bold">Car Mod:</label>
                        <div class="d-flex gap-2" v-for="mod in allMods" :key="mod">
                          <label :for="mod">{{ mod }}</label>
                          <input type="checkbox" :name="mod" :id="mod" :value="mod" @change="updateCarModArray($event, mod)">
                      </div>
                        
                      </div>
                      <!-- PACK M -->
                      <!-- {{packM}} -->
                      <div class="form-outline mb-4 mt-3 d-flex gap-2">
                        <label for="packM" class="fw-bold">Pack M:</label>
                        <div class="d-flex gap-2">                          
                          <input v-model="packM" type="checkbox" name="packM" id="true">                          
                        </div>                        
                      </div>
                      <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                          <button type="submit" class="button-primary">Add</button>
                        </div>
                      </div>
          
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
             <!-- FORM PARA AGREGAR MODS -->
            <div class="card mb-3  col-md-8 col-lg-4 shadow d-flex flex-column justify-content-evenly">
              <div class="row g-0 d-flex align-items-center shadow"  style="height: 100%;">
                <div  style="height: 100%;">
                  <div class="card-body py-5 px-md-5 shadow"  style="height: 100%;"> 
                    <form @submit.prevent="addMod">
                      <h1 class="d-flex justify-content-center">Add Mods</h1>
                      
                      <!-- NAME -->
                     <!-- {{modName}} -->
                      <div class="form-outline mb-4 mt-3">
                        <input v-model="modName" type="text" id="modName" name="modName" class="form-control shadow" placeholder="Name" />
                      </div>

                      <!-- DESCRIPTION -->
                   <!--  {{modDescription}} -->
                      <div class="form-outline mb-4 mt-3">
                        <input v-model="modDescription" type="text" id="modDescription" class="form-control shadow" placeholder="Description" />
                      </div>

                      <!-- CAR COLOR -->
                      <div class="form-outline mb-4 mt-3 d-flex flex-column gap-2">
                        <!--  {{color}}  -->
                        <label for="color" class="fw-bold"> Car color:</label>
                        <div class="d-flex gap-2" v-for="color in allColors" :key="color">
                          <label :for="color">{{ color }}</label>
                          <input type="radio" name="color" :id="color" :value="color" @change="updateCarColorArray($event, color)">
                        </div>

                      <!-- PRICE -->
                    <!--  {{modPrice}} -->
                      <div class="form-outline mb-4 mt-3">
                        <label for="modPrice" class="fw-bold ms- mb-2">Price:</label>
                        <input v-model="modPrice" type="number" id="modPrice" class="form-control shadow" placeholder="Price" />
                      </div>
                      
                      <!-- STOCK -->
                       <!-- {{modStock}} -->
                      <div class="form-outline mb-4 mt-3">
                        <label for="price" class="fw-bold ms- mb-2">Stock:</label>
                        <input v-model="modStock" type="number" id="stock" class="form-control shadow" placeholder="Stock" />
                      </div>

                      <!-- IMAGES -->
                      <!-- {{images2}}  -->
                      <div class="form-outline d-flex flex-column mb-4 mt-3 gap-2">
                        <input type="text" v-model="images2[0]" class="form-control shadow" placeholder="Image 1">
                        <input type="text" v-model="images2[1]" class="form-control shadow" placeholder="Image 2">
                        <input type="text" v-model="images2[2]" class="form-control shadow" placeholder="Image 3">
                      </div>

                      <!-- MOD TYPE -->
                     <!--  {{modType}} -->
                      <div class="form-outline d-flex flex-column mb-4 mt-3 gap-2">
                        <input type="text" v-model="modType" class="form-control shadow" placeholder="Mod Type">                      
                      </div>
                      
                      <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                          <button type="submit" class="button-primary" >Add</button>
                        </div>
                      </div>
          
                    </form>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <!-- FORM PARA AGREGAR PLAN DE AHORROS -->
            <div class="card mb-3  col-md-8 col-lg-4 shadow d-flex flex-column justify-content-evenly">
              <div class="row g-0 d-flex align-items-center shadow"  style="height: 100%;">
                <div  style="height: 100%;">
                  <div class="card-body py-5 px-md-5 shadow"  style="height: 100%;"> 
                    <form @submit.prevent="addDuesPlan">
                      <h1 class="d-flex justify-content-center">Add Dues Plan</h1>                     
                    
                      <!-- DESCRIPTION -->
                      {{dueDescription}}
                      <div class="form-outline mb-4 mt-3">
                        <input v-model="dueDescription" type="text" id="dueDescription" class="form-control shadow" placeholder="Description" />
                      </div>

                      <!-- DUES -->
                      {{dues}}
                      <div class="form-outline mb-4 mt-3">
                        <input v-model="dues" type="text" id="dues" class="form-control shadow" placeholder="Dues, separated with comma" />
                      </div>

                      <!-- INTERESTS -->
                      {{dueInterest}}
                      <div class="form-outline mb-4 mt-3 d-flex flex-column">
                        <label for="dueInterest" class="fw-bold">Interests:</label>
                        <input v-model="dueInterest" type="number" name="dueInterest" class="form-control shadow" id="dueInterest">
                      </div>                                     

                      <!-- ACTIVE -->
                      {{dueActive}}
                      <div class="form-outline d-flex  mb-4 mt-3 gap-2">
                        <label for="dueActive" class="fw-bold">Activate</label>            
                        <input v-model="dueActive" type="checkbox" name="dueActive" id="dueActive">         
                      </div>
                      
                      <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                          <button type="submit" class="button-primary" >Add</button>
                        </div>
                      </div>
          
                    </form>
                  </div>
                </div>
              </div>
            </div>
            
        </section>
          
    </main>


    <footer class="d-flex justify-content-center align-items-center ">
        <div>
            <img id="logoFooter" src="../images/logoBMW2.png" alt="logoBMW" width="100">
        </div>
        <div>
            <h5 class="d-flex justify-content-center">Copyright - 2023 BMW Motor Company - All Rights Reserved</h5>
            <h5 class="d-flex justify-content-center">Terms and Conditions</h5>
        </div>
    </footer>
    
 </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../javascript/manager.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


   
</body>
</html>