.banner{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-home{
    min-height: 90vh;
    background-image: url("./../images/home_1.jpg");
}

.banner-second{
    min-height: 70vh;
    background-image: url("./../images/home_2.jpg");
    background-size: cover;
}

.image-accessory::before{
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 1) 92%);
}