body{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(ellipse at 50% 50%, rgba(26, 26, 26, 0.92) 0%, rgba(16, 16, 16, 0.92) 27%, rgba(16, 16, 16, 0.92) 33%, rgba(16, 16, 16, 0.92) 36%, rgba(0, 0, 0, 1) 100%);
}

h1, h3, h4{
    color: #fff;
}

h1{
    font-size: 14rem;
    font-weight: 700;    
}

 h4{
    font-weight: bold;
}

.img-logo{
    width: 13rem;
}

@media (max-width: 426px) {
    h1{
        font-size: 9rem;
    }
    .img-logo{
        width: 8rem;
    }
}