a.navbar-brand{
    width: 3rem!important;
    content: url("./../images/BMW_Grey-Colour_RGB.SVG.asset.1605107718514.SVG");
}

.filter-container{
    position: sticky;
    top: 0;
}

.car-container{
    padding: 1.10rem 0rem;
    height: 20rem;
    box-shadow: black 0.5px;
}
.car-container--img img{
    width: 100%;
    height: 14rem;
    object-fit: cover;
    object-position: 50% 50%;
}


#card{
    box-shadow: 0 4px 8px #0000005e !important;
}