:root {
  --color-primario: rgb(0, 102, 177);
  --color-bg: #dee2e6;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #262626;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  font-size: 1pc;
  font-weight: 300;
  line-height: 1.5rem;
  text-rendering: optimizeSpeed;
}

a.navbar-brand {
  width: 3rem !important;
  content: url("./../images/BMW_Grey-Colour_RGB.SVG.asset.1605107718514.SVG");
}

nav ul>li.nav-item a.nav-link.active {
  color: var(--color-primario) !important;
}

.vh {
  height: 80vh;
}

.bgc {
  background-color: var(--color-bg);
}

.bgc-primary {
  background-color: var(--color-primario) !important;
}

.primary-color {
  color: var(--color-primario) !important;
}

.button-primary {
  border-radius: 20px !important;
  border: 1px solid var(--color-primario);
  padding: .495rem 1.75rem;
  text-decoration: none;
  background-color: transparent !important;
  text-align: center;
  font-weight: 600;
  color: var(--color-primario);
  transition: .5s ease-in-out;
}

.button-primary--active {
  background-color: var(--color-primario) !important;
  color: #fff !important;
}

.button-primary:hover {
  background-color: var(--color-primario) !important;
  color: #fff !important;
}

.button-primary--active:hover {
  background-color: transparent !important;
  color: var(--color-primario) !important;
}

.button-secondary:hover {
  color: var(--color-primario) !important;
}

.footer-line {
  margin: 0rem 1.755rem;
  height: .5px;
  width: 100%;
  background-color: #000;
}


/* BOTON LINKEDIN */
button.btn-linkedin {
  position: relative;
  width: 130px;
  height: 35px;
  border-radius: 30px;
  background-color: white;
  border: 1px #2867b2 solid;
  overflow: hidden;
}

.text1 {
  font-size: 15px;
  font-weight: 600;
  margin-left: 22%;
}

.text2 {
  position: absolute;
  top: 18%;
  left: -58px;
  font-weight: 700;
  font-size: 14px;
  color: white;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s;
}

.icon::before {
  position: absolute;
  left: -100px;
  top: 0;
  z-index: -1;
  content: '';
  width: 130px;
  height: 33px;
  border-radius: 30px;
  background-color: #2867b2;
}

button.btn-linkedin:hover .icon {
  transform: translateX(96px);
  transition: transform 0.5s;
}

button.btn-linkedin:hover .text2 {
  transform: translateX(100px);
  transition: transform 0.6s;
}

button.btn-linkedin:active {
  transform: scale(1.03);
}


/* loader */

.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: .9s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}
