:root{
    --color-primario: rgb(0,102,177);
    --color-bg: #dee2e6;
}

body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #262626;
    font-family: bmwTypeNextWeb,Arial,Helvetica,Roboto,sans-serif;
    font-size: 1pc;
    font-weight: 300;
    line-height: 1.5rem;
    text-rendering: optimizeSpeed;
}

a.navbar-brand{
  width: 3rem!important;
  content: url("./../images/BMW_Grey-Colour_RGB.SVG.asset.1605107718514.SVG");
}

.bgc{
    background-color: var(--color-bg);
}

.bgc-primary{
    background-color: var(--color-primario)!important;
}

.primary-color{
    color: var(--color-primario)!important;
}

.button-primary{
    border-radius: 20px!important;
    border: 1px solid var(--color-primario);
    padding: .495rem 1.75rem;
    text-decoration: none;
    background-color:transparent!important;
    text-align: center;
    font-weight: 600;
    color: var(--color-primario);
    transition: .5s ease-in-out;
}

.button-primary--active{
    background-color: var(--color-primario)!important;
    color: #fff!important;
}

.button-primary:hover{
    background-color: var(--color-primario)!important;
    color: #fff!important;
}

.button-primary--active:hover{
    background-color: transparent!important;
    color: var(--color-primario)!important;
}

.button-secondary:hover{
    color: var(--color-primario)!important;
}

.footer-line{
    margin: 0rem 1.755rem;
    height: .5px;
    width: 100%;
    background-color: #000;
}


/* BOTON LINKEDIN */
button.btn-linkedin {
    position: relative;
    width: 130px;
    height: 35px;
    border-radius: 30px;
    background-color: white;
    border: 1px #2867b2 solid;
    overflow: hidden;
  }
  
  .text1 {
    font-size: 15px;
    font-weight: 600;
    margin-left: 22%;
  }
  
  .text2 {
    position: absolute;
    top: 18%;
    left: -58px;
    font-weight: 700;
    font-size: 14px;
    color: white;
  }
  
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s;
  }
  
  .icon::before {
    position: absolute;
    left: -100px;
    top: 0;
    z-index: -1;
    content: '';
    width: 130px;
    height: 33px;
    border-radius: 30px;
    background-color: #2867b2;
  }
  
  button.btn-linkedin:hover .icon {
    transform: translateX(96px);
    transition: transform 0.5s;
  }
  
  button.btn-linkedin:hover .text2 {
    transform: translateX(100px);
    transition: transform 0.6s;
  }
  
  button.btn-linkedin:active {
    transform: scale(1.03);
  }