:root{
    --color-asd: rgb(0,102,177),
}

body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #262626;
    font-family: bmwTypeNextWeb,Arial,Helvetica,Roboto,sans-serif;
    font-size: 1pc;
    font-weight: 300;
    line-height: 1.5rem;
    text-rendering: optimizeSpeed;
}



.button-primary{
    border-radius: 20px!important;
    border: 1px solid rgb(0,102,177);
    padding: .495rem 5.75rem;
    text-decoration: none;
    background-color:transparent!important;
    text-align: center;
    font-weight: 600;
    color: rgb(0,102,177);
    transition: .5s ease-in-out;
}

.button-primary--active{
    background-color: rgb(0,102,177)!important;
    color: #fff;
}

.button-primary:hover{
    background-color: rgb(0,102,177)!important;
    color: #fff;
}

.button-primary--active:hover{
    background-color: transparent!important;
}

.btn-secondary{
    
}

.footer-line{
    margin: 0rem 1.755rem;
    height: .5px;
    width: 100%;
    background-color: #000;
}